*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* =====  VARIABLES ===== */

:root{
  font-size: 16px;
  --back-color: #c7ebf0;
  --text-color: #1f1a23;
  --emphasis-color: #58355e; 
  --light-emphasis-color: #835b89;
  --black-back-color: #a6cfd6;
  --danger: #e33;
}

.dark-mode{
  --back-color: #29182d;
  --text-color: #e0cfd3;
  --emphasis-color: var(--text-color); 
  --light-emphasis-color: #9b6ca2;
  --black-back-color: #5c4461;
}

/* =====  GENERAL SECTION ===== */

body{
  min-height: 100vh;
  font-family: 'Stack Sans Text';
  background-color:var(--back-color);
  color: var(--text-color);
  padding: 20px 12px;
}

ul{
  list-style: none;
}

button{
  border-color: transparent;
  border-style: solid;
  cursor: pointer;
  font-family: 'Stack Sans Text';
  transition: background-color .3s ease;
  color: inherit;
}

/* ====== MAIN SECTION ====== */

.main{
  width: 100%;
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.title{
  font-size: 2.5rem;
  margin-bottom: 30px;
}

/* ===== CONTENT SECTION ===== */

.content{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.content__container{
  background-color: var(--black-back-color);
  color: var(--text-color);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 2px solid transparent;
}

.content__pending-counter{
  width: fit-content;
  margin: auto;
  font-size: .7rem;
  padding: 6px 10px;
  color: var(--text-color);
}

#taskInput{
  width: 100%;
  padding: 6px 10px;
  border: 2px solid transparent;
  background-color: var(--back-color);
  color: inherit;
  font-size: .7rem;
  transition: border-color .5s ease;
}

#taskInput::placeholder{
  font-family: 'Stack Sans Text';
  font-size: .7rem;
}

#taskInput:focus{
  outline: none;
  border-color: var(--emphasis-color);
}

#addBtn{
  padding: 5px 8px;
  background-color: var(--emphasis-color);
  color: var(--back-color);
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#addBtn:hover{
  background-color: var(--light-emphasis-color);
}

/* === FILTER SECTION ===  */

.content__filter{
  gap: 20px;
  width: fit-content;
  margin: auto;
}

.filter-btn{
  background-color: var(--back-color);
  padding: 6px 10px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: color .2s ease, background-color .2s ease;
}

.filter-btn:hover{
  background-color: var(--light-emphasis-color);
  color: var(--back-color);
}

.filter-btn.active{
  background-color: var(--emphasis-color);
  color: var(--back-color);
}

/* === TODO SECTION === */

.content__todo-list{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 20px;
}

.content__todo-item{
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  background-color: var(--back-color);
  padding: 10px 12px;
  transition: background-color .4s ease, transform .2s ease,border-color .2s ease;
  border: 2px solid transparent;
}

.content__todo-item:hover{
  transform: translateY(-2px);
  border-color: var(--emphasis-color);
}

.task-checkbox{
  width: 20px;
  height: 20px;
}

.todo__text{
  flex: 1;
  font-size: .8rem;
}

.delete-btn {
  padding: 6px 10px;
  background-color: var(--danger);
  color: var(--back-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

/* ==== CLEAR COMPLETED SECTION ==== */

.clear-btn{
  background-color: var(--danger);
  color: var(--back-color);
  width: fit-content;
  margin: auto;
  padding: 8px 12px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: .75rem;
}

.clear-btn:hover, .delete-btn:hover{
  background-color: #b11;
}

/* ===== NOTIFICATIONS ===== */

.notification{
  position: fixed;
  color: var(--text-color);
  background-color: var(--black-back-color);
  width: 320px;
  margin: auto;
  top: 20px;
  right: 20px;
  z-index: 10;
  padding: 10px 14px 14px 14px;
  font-size: .75rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid transparent;
  transform: translateY(-200px);
  transition: transform .5s ease-out;
}

.notification.show{
  transform: translateY(0);
}

.notification.error{
  border-color: var(--danger);
}

.notification.error .material-symbols-rounded{
  color: var(--danger);
}

.notification.success{
  border-color: #6b6;
}

.notification.success .material-symbols-rounded{
  color: #6b6;
}

/* ===== EMPTY TODO ===== */

.empty-todo{
  font-size: .75rem;
  text-align: center;
}

/* ===== QUERIES ===== */

@media screen and (max-width: 600px) {
  .notification{
    right: 50%;
    translate: 50% 0;
  }
}